@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #efd595;
}

.page-header {
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  color: #f55e07;
  font-family: "Bungee Outline", sans-serif;
}

#cover-photo {
  height: 400px;
  width: 1000px;
}

test {
font-family: "Bungee Outline"; sans-serif;
font-family: "Bebas Neue", sans-serif;
background-color: #8EE1D7;
background-color: #EFD595;
color: #f55e07;
color: #4a4a4f;
}