@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@media screen and (max-width: 768px) {
  h1{
      font-size:32px;
  }
}

@media screen and (max-width: 768px) {
  h3{
      font-size:14px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
}

body {
  background-color: #FFEF61;
  padding: 80px;
}

.navbar {
  background-color: #25555B;

}

.navbar-brand {
  color: #FFEF61;
  font-family: "Bungee Outline", sans-serif;
  font-weight:bold;
  font-size: 40px;
  
}

.navbar-nav a {
  color: #FFEF61;
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-nav a:hover {
  color: black;
  font-family: "Bebas Neue", sans-serif;
}

.active {
  color: black;
}

.page-header {
  text-align: center;
  text-decoration: underline;
  font-weight: 800;
  color: black;
  font-family: "Bungee Outline", Arial, Helvetica, sans-serif;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.page-start {
  scroll-padding-top: 4rem;
  scroll-margin-top: 5rem;
}

#gigs-photo {
  height: 200px;
  width: 100px;
}

#songs h3 {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif ;
 font-size: 20px;
}

.carousel-inner img {

}

#intro {
  width: 50%;
}

#band-bio {
  text-align: center;
}

#our-music-intro {
  text-align: center;
  padding-bottom: 4rem;
}

#footer{
  background-color: #8EE1D7;
  
}

#footer a {
  color: black;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 100;
}