@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #efd595;
  padding: 80px;
}

* {
  font-family: "Roboto Mono", sans-serif;
}

.navbar {
  background-color: #8EE1D7;

}

.navbar-brand {
  color: #f55e07;
  font-family: "Bungee Outline", sans-serif;
  font-weight: 900;
  font-size: 40px;
}

.nav.navbar-nav a {
  color: #f55e07;
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
}

.nav:hover {
  color: black;
  font-family: "Bebas Neue", sans-serif;
}

.active {
  color: black;
}

.page-header {
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  color: #f55e07;
  font-family: "Bungee Outline", Arial, Helvetica, sans-serif;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.page-start {
  scroll-padding-top: 4rem;
  scroll-margin-top: 5rem;
}

.songs h3 {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif ;
}

#band-bio {
  text-align: center;
}

#our-music-intro {
  text-align: center;
  padding-bottom: 4rem;
}

#footer{
  background-color: #8EE1D7;
  
}

#footer a {
  color: black;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 100;
}